*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
   
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffff;
}
img{
 width: 351px;
 height: 113px;
}

table{
    width: 90%;
    border: none;
    
}


